.error-message {
  font-size: 10px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  color: rgb(151, 6, 6);
  width: 100%;
}

.input {
  /* width: 100%;
  border: none;
  border-radius: 5px;
  position: relative; */

  width: 300px; /* set a fixed width for the input field */
  margin-left: 0;
  height: 90px;
  border: none;
  border-radius: 0px;
  position: relative;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.input-number {
  display: inline-block;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(05px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Styles for screens up to 600px wide */
@media (max-width: 600px) {
  /* CSS rules specific to smaller screens */
}

/* Styles for screens between 601px and 1200px wide */
@media (min-width: 601px) and (max-width: 1200px) {
  /* CSS rules specific to medium-sized screens */
}

/* Styles for screens larger than 1200px wide */
@media (min-width: 1201px) {
  /* CSS rules specific to larger screens */
}
